$background-color: #030827
$content-color: #2772db
$decor-color: #3ab1c8
$focus-color: #f5ebeb

html,
a
  cursor: url('./images/cursor.svg') 4 4, default

body,
body *
  box-sizing: border-box

body
  margin: 0

#page-wrapper
  background-color: $background-color
  min-height: 100vh
  overflow-x: hidden
  position: relative

.pointer-ring
  position: absolute
  display: none
  left: 0px
  top: 0px
  z-index: 10
  height: 20px
  width: 20px
  border-radius: 100%
  background: radial-gradient(circle farthest-side, transparent 75%, rgba(255, 255, 255, 0.7) 85%)
  mix-blend-mode: difference
  pointer-events: none

.nav-icon
  z-index: 2
  width: 25px
  margin: 20px
  cursor: url('./images/cursor.svg') 4 4, pointer

  &__bar,
  &::before,
  &::after
    height: 5px
    background-color: #fff
    border-radius: 3px
    content: ''
    display: block
    margin: 5px 0
    transition: all .3s ease-in-out

  &.open
    .nav-icon__bar
      transform: scale(0)

    &::after
      transform: translateY(-10px) rotate(-135deg)

    &::before
      transform: translateY(10px) rotate(135deg)

@media screen and ( max-width: 1024px ) and ( max-height: 1366px )
  .pointer-ring
    display: none !important


p
  color: #fff
