@import url('https://fonts.googleapis.com/css2?family=Inter&family=Plaster&display=swap')

$background-color: #030827
$content-color: #2772db
$decor-color: #3ab1c8
$focus-color: #f5ebeb
$title-font: 'Plaster', cursive
$content-font: 'Inter', sans-serif

html,
a
  cursor: url('./images/cursor.svg') 4 4, default

body,
body *
  box-sizing: border-box

body
  margin: 0

#page-wrapper
  background-color: $background-color
  min-height: 100vh
  overflow-x: hidden
  position: relative
  color: $focus-color

.pointer-ring
  position: absolute
  display: none
  left: 0px
  top: 0px
  z-index: 10
  height: 20px
  width: 20px
  border-radius: 100%
  background: radial-gradient(circle farthest-side, transparent 85%, rgba(255, 255, 255, 1) 90%)
  mix-blend-mode: difference
  pointer-events: none

  &.link
    height: 40px
    width: 40px
    background: radial-gradient(circle farthest-side, transparent 65%, rgba(255, 255, 255, 1) 75%)
    left: -10px
    top: -10px
    transition-property: height width background
    transition-duration: 80ms
    transition-timing-function: ease-in-out

header
  z-index: 2
  position: fixed

.nav-icon
  width: 25px
  margin: 20px
  cursor: url('./images/cursor.svg') 4 4, pointer

  &__bar,
  &::before,
  &::after
    height: 5px
    background-color: $focus-color
    border-radius: 3px
    content: ''
    display: block
    margin: 5px 0
    transition: all 0.3s ease-in-out
    box-shadow:1px 1px 0px #f0f, -1px -1px 0 #0ff
    animation: glitch-box__reverse 0.8s forwards

  &:hover
    .nav-icon__bar,
    &::before,
    &::after
      animation: glitch-box 0.8s forwards

  &.open
    .nav-icon__bar
      transform: scale(0)

    &::after
      transform: translateY(-10px) rotate(-135deg)

    &::before
      transform: translateY(10px) rotate(135deg)

nav
  background-color: $content-color
  position: absolute
  top: 0
  left: 0
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  visibility: hidden
  clip-path: circle(30px at 40px 40px)
  transition: all 400ms ease-in-out

  &.active
    visibility: visible
    clip-path: circle(100%)

  ul
    list-style: none

    li
      font-family: $content-font
      font-size: 1.5em
      opacity: 0
      animation: fadeDown 0.6s forwards
      z-index: 1
      margin: 20px 0
      display: flex
      justify-content: center

      .divider
        height: 1.2px
        width: 8em
        background-color: $focus-color
        border-radius: 2px
        margin: 20px 0

      a
        text-decoration: none
        color: $focus-color

        &:hover
          color: $decor-color
          transition: color 0.2s ease-in-out

      @for $i from 2 through 4
        &:nth-child(#{$i})
          animation-delay: #{($i - 1) * 0.1 + 0.3}s

.home
  width: 100%

  & > div
    min-height: 100vh
    width: 100%

.intro
  display: flex
  justify-content: center
  align-items: center

  h1
    font-family: $title-font
    font-size: 9em
    text-shadow:1px 1px 0px #f0f, -1px -1px 0 #0ff
    animation: glitch-text__reverse 0.8s forwards
    border-bottom: $focus-color solid 0.5px
    padding-bottom: 30px
    margin: 0.25em 0

    &:hover
      animation: glitch-text 0.8s forwards

  span
    font-family: $content-font
    font-size: 2em
    padding-right: 0.2em
    border-right: 4px $decor-color solid
    animation: blink-caret .75s step-end infinite

.project
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  &-list
    width: 70%
    display: flex
    flex-wrap: wrap

    .card
      width: 48%
      height: 30vh
      margin: 1% 1%

      &-wrapper
        height: 100%
        width: 100%
        position: relative
        background-size: cover

        // .detail
        //   width: 100%
        //   height: 100%
        //   display: flex
        //   align-items: center
        //   justify-content: space-around
        //   pointer-events: none
        //   opacity: 0

        //   i
        //     font-size: 5em
        //     color: $content-color
        //     pointer-events: auto

        //     &:hover
        //       color: $decor-color

        &:hover
          background-color: rgba(255, 255, 255, 0.8)
          background-blend-mode: lighten

          // .detail
          //   opacity: 1
          //   transition: all 0.5s ease-in-out

        span
          position: absolute
          pointer-events: none

          &.name
            font-family: $title-font
            font-size: 2em
            top: -0.8em
            left: 0.2em
            text-shadow: 0 0 3px #000

          &.desc
            font-family: $content-font
            font-size: 0.9em
            bottom: 0.4em
            right: 0.4em
            text-shadow: 1px 1px 2px #000
            padding-left: 1em

  &-link
    width: 70%
    display: flex
    justify-content: flex-end
    margin-top: 40px

    a
      text-decoration: none
      color: $focus-color

      &:hover
        color: $decor-color

      span
        margin-right: 1em
        font-family: $content-font

.about
  display: flex
  justify-content: center
  align-items: center
  padding: 50px 0

  &-wrapper
    width: 70%
    height: 70vh
    position: relative

    > span
      position: absolute
      font-family: $title-font
      font-size: 3em
      top: -0.8em
      left: 0.2em

  &-grid
    height: 100%
    width: 100%
    display: flex
    flex-wrap: wrap
    z-index: -1
    font-family: $content-font

    h3, p, span, i
      animation: fadeLeft 1s forwards

  &-block
    &__info
      height: 60%
      width: 100%
      background-color: #fe346e
      transition: all 0.2s ease-in-out
      display: flex
      justify-content: center
      align-items: center
      font-size: 1.2em

      > div
        width: 60%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        h3
          font-size: 1.5em

        .divider
          width: 6%
          border-bottom: $focus-color 1px solid

        p
          margin: 0.4em 0

    &__skill
      height: 40%
      width: 60%
      background-color: #00bdaa
      color: #004533
      transition: all 0.2s ease-in-out
      display: flex
      justify-content: center
      align-items: center
      font-size: 1.2em
      font-weight: 700

      > div
        width: 50vw
        display: flex
        flex-direction: column
        justify-content: center
        padding: 1em

        &.sm
          align-items: center
          font-size: 1.5em

        span
          color: #2552a8

        p
          margin: 0.2em 0
          line-height: 1.5em

          &.t1
            padding-left: 1em

          &.t2
            padding-left: 2em

    &__contact
      height: 40%
      width: 40%
      background-color: #f8fab8
      color: #000
      transition: all 0.2s ease-in-out
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      font-size: 1.5em
      font-weight: 700

      > div
        width: 70%
        height: 70%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly

        > div
          width: 100%
          display: flex
          justify-content: space-evenly

      a
        color: #000

      i
        font-size: 3em

        &:hover
          color: $decor-color

  &-grid.select
    &-info
      &__lg
        .about-block__info
          height: 85%
          transition: all 0.3s ease-in-out

        .about-block__skill
          height: 15%
          width: 50%
          transition: all 0.3s ease-in-out

        .about-block__contact
          height: 15%
          width: 50%
          transition: all 0.3s ease-in-out

    &-skill
      &__lg
        .about-block__info
          height: 15%
          width: 100%
          transition: all 0.3s ease-in-out

        .about-block__skill
          height: 85%
          width: 90%
          transition: all 0.3s ease-in-out

        .about-block__contact
          height: 85%
          width: 10%
          transition: all 0.3s ease-in-out
          writing-mode: vertical-rl

    &-contact
      &__lg

        .about-block__info
          height: 15%
          width: 100%
          transition: all 0.3s ease-in-out

        .about-block__skill
          height: 85%
          width: 10%
          transition: all 0.3s ease-in-out
          writing-mode: vertical-lr

          p
            transform: rotate(180deg)

        .about-block__contact
          height: 85%
          width: 90%
          transition: all 0.3s ease-in-out

  &-grid.hover
    &-info
      &__sm
        .about-block__info
          height: 62%
          transition: all 0.2s ease-in-out

        .about-block__skill
          height: 38%
          transition: all 0.2s ease-in-out

        .about-block__contact
          height: 38%
          transition: all 0.2s ease-in-out

      &__lg
        .about-block__info
          height: 87%
          transition: all 0.2s ease-in-out

        .about-block__skill
          height: 13%
          transition: all 0.2s ease-in-out

        .about-block__contact
          height: 13%
          transition: all 0.2s ease-in-out

      &__xs
        &__skill
          .about-block__info
            height: 17%
            transition: all 0.2s ease-in-out

          .about-block__skill
            height: 83%
            width: 90%
            transition: all 0.2s ease-in-out

          .about-block__contact
            height: 83%
            width: 10%
            transition: all 0.2s ease-in-out

        &__contact
          .about-block__info
            height: 17%
            transition: all 0.2s ease-in-out

          .about-block__skill
            height: 83%
            width: 10%
            transition: all 0.2s ease-in-out

          .about-block__contact
            height: 83%
            width: 90%
            transition: all 0.2s ease-in-out

    &-skill
      &__sm
        .about-block__info
          height: 58%
          transition: all 0.2s ease-in-out

        .about-block__skill
          height: 42%
          width: 62%
          transition: all 0.2s ease-in-out

        .about-block__contact
          height: 42%
          width: 38%
          transition: all 0.2s ease-in-out

      &__lg
        .about-block__info
          height: 13%
          transition: all 0.2s ease-in-out

        .about-block__skill
          height: 87%
          width: 92%
          transition: all 0.2s ease-in-out

        .about-block__contact
          height: 87%
          width: 8%
          transition: all 0.2s ease-in-out

      &__xs
        &__info
          .about-block__info
            height: 83%
            transition: all 0.2s ease-in-out

          .about-block__skill
            height: 17%
            width: 60%
            transition: all 0.2s ease-in-out

          .about-block__contact
            height: 17%
            width: 40%
            transition: all 0.2s ease-in-out

        &__contact
          .about-block__info
            height: 13%
            transition: all 0.2s ease-in-out

          .about-block__skill
            height: 87%
            width: 12%
            transition: all 0.2s ease-in-out

          .about-block__contact
            height: 87%
            width: 88%
            transition: all 0.2s ease-in-out

    &-contact
      &__sm
        .about-block__info
          height: 58%
          transition: all 0.2s ease-in-out

        .about-block__skill
          height: 42%
          width: 58%
          transition: all 0.2s ease-in-out

        .about-block__contact
          height: 42%
          width: 42%
          transition: all 0.2s ease-in-out

      &__lg
        .about-block__info
          height: 13%
          transition: all 0.2s ease-in-out

        .about-block__skill
          height: 87%
          width: 8%
          transition: all 0.2s ease-in-out

        .about-block__contact
          height: 87%
          width: 92%
          transition: all 0.2s ease-in-out

      &__xs
        &__info
          .about-block__info
            height: 83%
            transition: all 0.2s ease-in-out

          .about-block__skill
            height: 17%
            width: 40%
            transition: all 0.2s ease-in-out

          .about-block__contact
            height: 17%
            width: 60%
            transition: all 0.2s ease-in-out

        &__skill
          .about-block__info
            height: 13%
            transition: all 0.2s ease-in-out

          .about-block__skill
            height: 87%
            width: 88%
            transition: all 0.2s ease-in-out

          .about-block__contact
            height: 87%
            width: 12%
            transition: all 0.2s ease-in-out

footer
  min-height: 30vh
  background-color: #000
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  > *
    font-family: $content-font
    margin: 5px 0

  .footer
    &-title
      font-family: $title-font
      font-size: 1.8em

    &-link
      > *
        margin: 0 0.5em

      i
        font-size: 1.2em
        color: $focus-color

        &:hover
          color: $decor-color

    &-code
      > *
        margin: 0 5px

      a
        color: $decor-color

        &:hover
          color: $content-color

    &-cr
      font-size: 0.7em

@media screen and (max-width: 1200px)
  .intro
    h1
      font-size: 7em

  .project
    &-list
      .card
        width: 100%
        height: 30vh
        margin: 20px 0

@media screen and ( max-width: 1024px ) and ( max-height: 1366px )
  .pointer-ring
    display: none !important

  html
    cursor: default

  a
    cursor: pointer

@media screen and (max-width: 950px)
  .intro
    h1
      font-size: 5.5em

    span
      font-size: 1.5em

@media screen and (max-width: 750px)
  .intro
    h1
      font-size: 4em

    span
      font-size: 1.2em

  .about
    &-block
      &__info
        font-size: 1.2em

        > div
          width: 80%

          h3
            font-size: 1.2em

      &__skill
        height: 20%
        width: 100%
        font-size: 1.1em

        > div
          width: 70vw

          &.sm
            font-size: 1.2em

      &__contact
        height: 20%
        width: 100%
        font-size: 1.2em

    &-grid.select
      &-info
        &__lg
          .about-block__info
            height: 80%

          .about-block__skill
            height: 10%
            width: 100%

          .about-block__contact
            height: 10%
            width: 100%

      &-skill
        &__lg
          .about-block__info
            height: 10%

          .about-block__skill
            height: 80%
            width: 100%

          .about-block__contact
            height: 10%
            width: 100%
            writing-mode: horizontal-tb

      &-contact
        &__lg
          .about-block__info
            height: 10%

          .about-block__skill
            height: 10%
            width: 100%
            writing-mode: horizontal-tb

            > div
              align-items: center

            p
              transform: rotate(0deg)

          .about-block__contact
            height: 80%
            width: 100%

    &-grid.hover
      &-info
        &__sm
          .about-block__info
            height: 64%

          .about-block__skill
            height: 18%
            width: 100%

          .about-block__contact
            height: 18%
            width: 100%

        &__lg
          .about-block__info
            height: 84%

          .about-block__skill
            height: 8%
            width: 100%

          .about-block__contact
            height: 8%
            width: 100%

        &__xs
          &__skill
            .about-block__info
              height: 14%

            .about-block__skill
              height: 78%
              width: 100%

            .about-block__contact
              height: 8%
              width: 100%

          &__contact
            .about-block__info
              height: 14%

            .about-block__skill
              height: 8%
              width: 100%

            .about-block__contact
              height: 78%
              width: 100%

      &-skill
        &__sm
          .about-block__info
            height: 58%

          .about-block__skill
            height: 24%
            width: 100%

          .about-block__contact
            height: 18%
            width: 100%

        &__lg
          .about-block__info
            height: 8%

          .about-block__skill
            height: 84%
            width: 100%

          .about-block__contact
            height: 8%
            width: 100%

        &__xs
          &__info
            .about-block__info
              height: 78%

            .about-block__skill
              height: 14%
              width: 100%

            .about-block__contact
              height: 8%
              width: 100%

          &__contact
            .about-block__info
              height: 8%

            .about-block__skill
              height: 14%
              width: 100%

            .about-block__contact
              height: 78%
              width: 100%

      &-contact
        &__sm
          .about-block__info
            height: 58%

          .about-block__skill
            height: 18%
            width: 100%

          .about-block__contact
            height: 24%
            width: 100%

        &__lg
          .about-block__info
            height: 8%

          .about-block__skill
            height: 8%
            width: 100%

          .about-block__contact
            height: 84%
            width: 100%

        &__xs
          &__info
            .about-block__info
              height: 78%

            .about-block__skill
              height: 8%
              width: 100%

            .about-block__contact
              height: 14%
              width: 100%

          &__skill
            .about-block__info
              height: 8%

            .about-block__skill
              height: 78%
              width: 100%

            .about-block__contact
              height: 14%
              width: 100%

@media screen and (max-width: 550px)
  .intro
    h1
      font-size: 3.5em
      padding-bottom: 20px

    span
      font-size: 1em

  .project
    &-list
      .card
        &-wrapper
          span
            &.name
              font-size: 1.8em

            &.desc
              font-size: 0.7em

  .about
    &-block
      &__info
        font-size: 1em

        > div
          h3
            font-size: 1em

      &__skill
        font-size: 1em

      &__contact
        font-size: 1em

@media screen and (max-width: 450px)
  .intro
    h1
      font-size: 2.5em

    span
      font-size: 0.8em

  .about
    &-block
      &__skill
        font-size: 0.9em



@keyframes fadeDown
  0%
    opacity: 0
    transform: translateY(-20px)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes glitch-text
  from
    text-shadow:1px 1px 0px #f0f, -1px -1px 0 #0ff
  to
    text-shadow:2px 3px 0px #f0f, -3px -2px 0 #0ff

@keyframes glitch-text__reverse
  from
    text-shadow:2px 3px 0px #f0f, -3px -2px 0 #0ff
  to
    text-shadow:1px 1px 0px #f0f, -1px -1px 0 #0ff

@keyframes glitch-box
  from
    box-shadow:1px 1px 0px #f0f, -1px -1px 0 #0ff
  to
    box-shadow:2px 3px 0px #f0f, -3px -2px 0 #0ff

@keyframes glitch-box__reverse
  from
    box-shadow:2px 3px 0px #f0f, -3px -2px 0 #0ff
  to
    box-shadow:1px 1px 0px #f0f, -1px -1px 0 #0ff

@keyframes blink-caret
  from, to
    border-color: transparent
  50%
    border-color: $decor-color

@keyframes fadeLeft
  0%
    opacity: 0
    transform: translateX(-20px)
  100%
    opacity: 1
    transform: translateY(0)
