@import url("https://fonts.googleapis.com/css2?family=Inter&family=Plaster&display=swap");
html,
a {
  cursor: url("./images/cursor.svg") 4 4, default;
}

body,
body * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#page-wrapper {
  background-color: #030827;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  color: #f5ebeb;
}

.pointer-ring {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  z-index: 10;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: radial-gradient(circle farthest-side, transparent 85%, white 90%);
  mix-blend-mode: difference;
  pointer-events: none;
}
.pointer-ring.link {
  height: 40px;
  width: 40px;
  background: radial-gradient(circle farthest-side, transparent 65%, white 75%);
  left: -10px;
  top: -10px;
  transition-property: height width background;
  transition-duration: 80ms;
  transition-timing-function: ease-in-out;
}

header {
  z-index: 2;
  position: fixed;
}

.nav-icon {
  width: 25px;
  margin: 20px;
  cursor: url("./images/cursor.svg") 4 4, pointer;
}
.nav-icon__bar, .nav-icon::before, .nav-icon::after {
  height: 5px;
  background-color: #f5ebeb;
  border-radius: 3px;
  content: "";
  display: block;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 0px #f0f, -1px -1px 0 #0ff;
  animation: glitch-box__reverse 0.8s forwards;
}
.nav-icon:hover .nav-icon__bar, .nav-icon:hover::before, .nav-icon:hover::after {
  animation: glitch-box 0.8s forwards;
}
.nav-icon.open .nav-icon__bar {
  transform: scale(0);
}
.nav-icon.open::after {
  transform: translateY(-10px) rotate(-135deg);
}
.nav-icon.open::before {
  transform: translateY(10px) rotate(135deg);
}

nav {
  background-color: #2772db;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  clip-path: circle(30px at 40px 40px);
  transition: all 400ms ease-in-out;
}
nav.active {
  visibility: visible;
  clip-path: circle(100%);
}
nav ul {
  list-style: none;
}
nav ul li {
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  opacity: 0;
  animation: fadeDown 0.6s forwards;
  z-index: 1;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
nav ul li .divider {
  height: 1.2px;
  width: 8em;
  background-color: #f5ebeb;
  border-radius: 2px;
  margin: 20px 0;
}
nav ul li a {
  text-decoration: none;
  color: #f5ebeb;
}
nav ul li a:hover {
  color: #3ab1c8;
  transition: color 0.2s ease-in-out;
}
nav ul li:nth-child(2) {
  animation-delay: 0.4s;
}
nav ul li:nth-child(3) {
  animation-delay: 0.5s;
}
nav ul li:nth-child(4) {
  animation-delay: 0.6s;
}

.home {
  width: 100%;
}
.home > div {
  min-height: 100vh;
  width: 100%;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro h1 {
  font-family: "Plaster", cursive;
  font-size: 9em;
  text-shadow: 1px 1px 0px #f0f, -1px -1px 0 #0ff;
  animation: glitch-text__reverse 0.8s forwards;
  border-bottom: #f5ebeb solid 0.5px;
  padding-bottom: 30px;
  margin: 0.25em 0;
}
.intro h1:hover {
  animation: glitch-text 0.8s forwards;
}
.intro span {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  padding-right: 0.2em;
  border-right: 4px #3ab1c8 solid;
  animation: blink-caret 0.75s step-end infinite;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.project-list .card {
  width: 48%;
  height: 30vh;
  margin: 1% 1%;
}
.project-list .card-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
}
.project-list .card-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}
.project-list .card-wrapper span {
  position: absolute;
  pointer-events: none;
}
.project-list .card-wrapper span.name {
  font-family: "Plaster", cursive;
  font-size: 2em;
  top: -0.8em;
  left: 0.2em;
  text-shadow: 0 0 3px #000;
}
.project-list .card-wrapper span.desc {
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  bottom: 0.4em;
  right: 0.4em;
  text-shadow: 1px 1px 2px #000;
  padding-left: 1em;
}
.project-link {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.project-link a {
  text-decoration: none;
  color: #f5ebeb;
}
.project-link a:hover {
  color: #3ab1c8;
}
.project-link a span {
  margin-right: 1em;
  font-family: "Inter", sans-serif;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.about-wrapper {
  width: 70%;
  height: 70vh;
  position: relative;
}
.about-wrapper > span {
  position: absolute;
  font-family: "Plaster", cursive;
  font-size: 3em;
  top: -0.8em;
  left: 0.2em;
}
.about-grid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
  font-family: "Inter", sans-serif;
}
.about-grid h3, .about-grid p, .about-grid span, .about-grid i {
  animation: fadeLeft 1s forwards;
}
.about-block__info {
  height: 60%;
  width: 100%;
  background-color: #fe346e;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.about-block__info > div {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-block__info > div h3 {
  font-size: 1.5em;
}
.about-block__info > div .divider {
  width: 6%;
  border-bottom: #f5ebeb 1px solid;
}
.about-block__info > div p {
  margin: 0.4em 0;
}
.about-block__skill {
  height: 40%;
  width: 60%;
  background-color: #00bdaa;
  color: #004533;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 700;
}
.about-block__skill > div {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.about-block__skill > div.sm {
  align-items: center;
  font-size: 1.5em;
}
.about-block__skill > div span {
  color: #2552a8;
}
.about-block__skill > div p {
  margin: 0.2em 0;
  line-height: 1.5em;
}
.about-block__skill > div p.t1 {
  padding-left: 1em;
}
.about-block__skill > div p.t2 {
  padding-left: 2em;
}
.about-block__contact {
  height: 40%;
  width: 40%;
  background-color: #f8fab8;
  color: #000;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
}
.about-block__contact > div {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-block__contact > div > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.about-block__contact a {
  color: #000;
}
.about-block__contact i {
  font-size: 3em;
}
.about-block__contact i:hover {
  color: #3ab1c8;
}
.about-grid.select-info__lg .about-block__info {
  height: 85%;
  transition: all 0.3s ease-in-out;
}
.about-grid.select-info__lg .about-block__skill {
  height: 15%;
  width: 50%;
  transition: all 0.3s ease-in-out;
}
.about-grid.select-info__lg .about-block__contact {
  height: 15%;
  width: 50%;
  transition: all 0.3s ease-in-out;
}
.about-grid.select-skill__lg .about-block__info {
  height: 15%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.about-grid.select-skill__lg .about-block__skill {
  height: 85%;
  width: 90%;
  transition: all 0.3s ease-in-out;
}
.about-grid.select-skill__lg .about-block__contact {
  height: 85%;
  width: 10%;
  transition: all 0.3s ease-in-out;
  writing-mode: vertical-rl;
}
.about-grid.select-contact__lg .about-block__info {
  height: 15%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.about-grid.select-contact__lg .about-block__skill {
  height: 85%;
  width: 10%;
  transition: all 0.3s ease-in-out;
  writing-mode: vertical-lr;
}
.about-grid.select-contact__lg .about-block__skill p {
  transform: rotate(180deg);
}
.about-grid.select-contact__lg .about-block__contact {
  height: 85%;
  width: 90%;
  transition: all 0.3s ease-in-out;
}
.about-grid.hover-info__sm .about-block__info {
  height: 62%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__sm .about-block__skill {
  height: 38%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__sm .about-block__contact {
  height: 38%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__lg .about-block__info {
  height: 87%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__lg .about-block__skill {
  height: 13%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__lg .about-block__contact {
  height: 13%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__xs__skill .about-block__info {
  height: 17%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__xs__skill .about-block__skill {
  height: 83%;
  width: 90%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__xs__skill .about-block__contact {
  height: 83%;
  width: 10%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__xs__contact .about-block__info {
  height: 17%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__xs__contact .about-block__skill {
  height: 83%;
  width: 10%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-info__xs__contact .about-block__contact {
  height: 83%;
  width: 90%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__sm .about-block__info {
  height: 58%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__sm .about-block__skill {
  height: 42%;
  width: 62%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__sm .about-block__contact {
  height: 42%;
  width: 38%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__lg .about-block__info {
  height: 13%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__lg .about-block__skill {
  height: 87%;
  width: 92%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__lg .about-block__contact {
  height: 87%;
  width: 8%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__xs__info .about-block__info {
  height: 83%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__xs__info .about-block__skill {
  height: 17%;
  width: 60%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__xs__info .about-block__contact {
  height: 17%;
  width: 40%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__xs__contact .about-block__info {
  height: 13%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__xs__contact .about-block__skill {
  height: 87%;
  width: 12%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-skill__xs__contact .about-block__contact {
  height: 87%;
  width: 88%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__sm .about-block__info {
  height: 58%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__sm .about-block__skill {
  height: 42%;
  width: 58%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__sm .about-block__contact {
  height: 42%;
  width: 42%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__lg .about-block__info {
  height: 13%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__lg .about-block__skill {
  height: 87%;
  width: 8%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__lg .about-block__contact {
  height: 87%;
  width: 92%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__xs__info .about-block__info {
  height: 83%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__xs__info .about-block__skill {
  height: 17%;
  width: 40%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__xs__info .about-block__contact {
  height: 17%;
  width: 60%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__xs__skill .about-block__info {
  height: 13%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__xs__skill .about-block__skill {
  height: 87%;
  width: 88%;
  transition: all 0.2s ease-in-out;
}
.about-grid.hover-contact__xs__skill .about-block__contact {
  height: 87%;
  width: 12%;
  transition: all 0.2s ease-in-out;
}

footer {
  min-height: 30vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer > * {
  font-family: "Inter", sans-serif;
  margin: 5px 0;
}
footer .footer-title {
  font-family: "Plaster", cursive;
  font-size: 1.8em;
}
footer .footer-link > * {
  margin: 0 0.5em;
}
footer .footer-link i {
  font-size: 1.2em;
  color: #f5ebeb;
}
footer .footer-link i:hover {
  color: #3ab1c8;
}
footer .footer-code > * {
  margin: 0 5px;
}
footer .footer-code a {
  color: #3ab1c8;
}
footer .footer-code a:hover {
  color: #2772db;
}
footer .footer-cr {
  font-size: 0.7em;
}

.project-log {
  width: 100%;
}

.detail {
  width: 100%;
  height: 100vh;
  display: flex;
}
.detail-img {
  width: 60%;
  height: 100%;
  background-color: #f0f;
}
.detail-text {
  width: 40%;
  height: 100%;
  padding: 25px;
  font-family: "Inter", sans-serif;
}
.detail-text__header {
  display: flex;
  justify-content: space-between;
}
.detail-text__header__nav i {
  margin-left: 20px;
}
.detail-text__tech {
  font-size: 0.8em;
  display: flex;
}
.detail-text__tech > div {
  background-color: #2772db;
  padding: 3px 5px;
  margin: 10px 10px 5px 0;
  border-radius: 5px;
}
.detail-text__link {
  margin-top: 20px;
  display: flex;
}
.detail-text__link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  text-decoration: none;
  color: #f5ebeb;
}
.detail-text__link a i {
  font-size: 2.5em;
}
.detail-text__link a span {
  font-size: 0.7em;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.detail-text__link a:hover span {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .intro h1 {
    font-size: 7em;
  }

  .project-list .card {
    width: 100%;
    height: 30vh;
    margin: 20px 0;
  }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .pointer-ring {
    display: none !important;
  }

  html {
    cursor: default;
  }

  a {
    cursor: pointer;
  }
}
@media screen and (max-width: 950px) {
  .intro h1 {
    font-size: 5.5em;
  }
  .intro span {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 750px) {
  .intro h1 {
    font-size: 4em;
  }
  .intro span {
    font-size: 1.2em;
  }

  .about-block__info {
    font-size: 1.2em;
  }
  .about-block__info > div {
    width: 80%;
  }
  .about-block__info > div h3 {
    font-size: 1.2em;
  }
  .about-block__skill {
    height: 20%;
    width: 100%;
    font-size: 1.1em;
  }
  .about-block__skill > div {
    width: 70vw;
  }
  .about-block__skill > div.sm {
    font-size: 1.2em;
  }
  .about-block__contact {
    height: 20%;
    width: 100%;
    font-size: 1.2em;
  }
  .about-grid.select-info__lg .about-block__info {
    height: 80%;
  }
  .about-grid.select-info__lg .about-block__skill {
    height: 10%;
    width: 100%;
  }
  .about-grid.select-info__lg .about-block__contact {
    height: 10%;
    width: 100%;
  }
  .about-grid.select-skill__lg .about-block__info {
    height: 10%;
  }
  .about-grid.select-skill__lg .about-block__skill {
    height: 80%;
    width: 100%;
  }
  .about-grid.select-skill__lg .about-block__contact {
    height: 10%;
    width: 100%;
    writing-mode: horizontal-tb;
  }
  .about-grid.select-contact__lg .about-block__info {
    height: 10%;
  }
  .about-grid.select-contact__lg .about-block__skill {
    height: 10%;
    width: 100%;
    writing-mode: horizontal-tb;
  }
  .about-grid.select-contact__lg .about-block__skill > div {
    align-items: center;
  }
  .about-grid.select-contact__lg .about-block__skill p {
    transform: rotate(0deg);
  }
  .about-grid.select-contact__lg .about-block__contact {
    height: 80%;
    width: 100%;
  }
  .about-grid.hover-info__sm .about-block__info {
    height: 64%;
  }
  .about-grid.hover-info__sm .about-block__skill {
    height: 18%;
    width: 100%;
  }
  .about-grid.hover-info__sm .about-block__contact {
    height: 18%;
    width: 100%;
  }
  .about-grid.hover-info__lg .about-block__info {
    height: 84%;
  }
  .about-grid.hover-info__lg .about-block__skill {
    height: 8%;
    width: 100%;
  }
  .about-grid.hover-info__lg .about-block__contact {
    height: 8%;
    width: 100%;
  }
  .about-grid.hover-info__xs__skill .about-block__info {
    height: 14%;
  }
  .about-grid.hover-info__xs__skill .about-block__skill {
    height: 78%;
    width: 100%;
  }
  .about-grid.hover-info__xs__skill .about-block__contact {
    height: 8%;
    width: 100%;
  }
  .about-grid.hover-info__xs__contact .about-block__info {
    height: 14%;
  }
  .about-grid.hover-info__xs__contact .about-block__skill {
    height: 8%;
    width: 100%;
  }
  .about-grid.hover-info__xs__contact .about-block__contact {
    height: 78%;
    width: 100%;
  }
  .about-grid.hover-skill__sm .about-block__info {
    height: 58%;
  }
  .about-grid.hover-skill__sm .about-block__skill {
    height: 24%;
    width: 100%;
  }
  .about-grid.hover-skill__sm .about-block__contact {
    height: 18%;
    width: 100%;
  }
  .about-grid.hover-skill__lg .about-block__info {
    height: 8%;
  }
  .about-grid.hover-skill__lg .about-block__skill {
    height: 84%;
    width: 100%;
  }
  .about-grid.hover-skill__lg .about-block__contact {
    height: 8%;
    width: 100%;
  }
  .about-grid.hover-skill__xs__info .about-block__info {
    height: 78%;
  }
  .about-grid.hover-skill__xs__info .about-block__skill {
    height: 14%;
    width: 100%;
  }
  .about-grid.hover-skill__xs__info .about-block__contact {
    height: 8%;
    width: 100%;
  }
  .about-grid.hover-skill__xs__contact .about-block__info {
    height: 8%;
  }
  .about-grid.hover-skill__xs__contact .about-block__skill {
    height: 14%;
    width: 100%;
  }
  .about-grid.hover-skill__xs__contact .about-block__contact {
    height: 78%;
    width: 100%;
  }
  .about-grid.hover-contact__sm .about-block__info {
    height: 58%;
  }
  .about-grid.hover-contact__sm .about-block__skill {
    height: 18%;
    width: 100%;
  }
  .about-grid.hover-contact__sm .about-block__contact {
    height: 24%;
    width: 100%;
  }
  .about-grid.hover-contact__lg .about-block__info {
    height: 8%;
  }
  .about-grid.hover-contact__lg .about-block__skill {
    height: 8%;
    width: 100%;
  }
  .about-grid.hover-contact__lg .about-block__contact {
    height: 84%;
    width: 100%;
  }
  .about-grid.hover-contact__xs__info .about-block__info {
    height: 78%;
  }
  .about-grid.hover-contact__xs__info .about-block__skill {
    height: 8%;
    width: 100%;
  }
  .about-grid.hover-contact__xs__info .about-block__contact {
    height: 14%;
    width: 100%;
  }
  .about-grid.hover-contact__xs__skill .about-block__info {
    height: 8%;
  }
  .about-grid.hover-contact__xs__skill .about-block__skill {
    height: 78%;
    width: 100%;
  }
  .about-grid.hover-contact__xs__skill .about-block__contact {
    height: 14%;
    width: 100%;
  }

  .detail {
    flex-direction: column;
  }
  .detail-img {
    width: 100%;
    height: 40%;
  }
  .detail-text {
    width: 100%;
    height: 60%;
  }
}
@media screen and (max-width: 550px) {
  .intro h1 {
    font-size: 3.5em;
    padding-bottom: 20px;
  }
  .intro span {
    font-size: 1em;
  }

  .project-list .card-wrapper span.name {
    font-size: 1.8em;
  }
  .project-list .card-wrapper span.desc {
    font-size: 0.7em;
  }

  .about-block__info {
    font-size: 1em;
  }
  .about-block__info > div h3 {
    font-size: 1em;
  }
  .about-block__skill {
    font-size: 1em;
  }
  .about-block__contact {
    font-size: 1em;
  }

  .detail-text__title {
    font-size: 0.8em;
  }
  .detail-text__title h1 {
    margin: 0.4em 0;
  }
  .detail-text__detail {
    font-size: 0.8em;
  }
  .detail-text__link {
    margin-top: 15px;
  }
  .detail-text__link a i {
    font-size: 2em;
  }
}
@media screen and (max-width: 450px) {
  .intro h1 {
    font-size: 2.5em;
  }
  .intro span {
    font-size: 0.8em;
  }

  .about-block__skill {
    font-size: 0.9em;
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes glitch-text {
  from {
    text-shadow: 1px 1px 0px #f0f, -1px -1px 0 #0ff;
  }
  to {
    text-shadow: 2px 3px 0px #f0f, -3px -2px 0 #0ff;
  }
}
@keyframes glitch-text__reverse {
  from {
    text-shadow: 2px 3px 0px #f0f, -3px -2px 0 #0ff;
  }
  to {
    text-shadow: 1px 1px 0px #f0f, -1px -1px 0 #0ff;
  }
}
@keyframes glitch-box {
  from {
    box-shadow: 1px 1px 0px #f0f, -1px -1px 0 #0ff;
  }
  to {
    box-shadow: 2px 3px 0px #f0f, -3px -2px 0 #0ff;
  }
}
@keyframes glitch-box__reverse {
  from {
    box-shadow: 2px 3px 0px #f0f, -3px -2px 0 #0ff;
  }
  to {
    box-shadow: 1px 1px 0px #f0f, -1px -1px 0 #0ff;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #3ab1c8;
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=styles.css.map */
